#NAVBAR {
    POSITION: absolute;
    width: 200px;
    height: 713px;
    background-color: lightgreen;
    top: 0px;
    left: 0px;
}

#ALLCONTENT {
    position: absolute;
    width: 1335px;
    height: 713px;
    top: 0px;
    left: 200px;
    background-color: lightblue;
    overflow: hidden;
}

#logo {
    background-color: orangered;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 20px;
    position: absolute;
    left: 25px;
}

.letterEv {
    position: relative;
    width: 70px;
    height: 15px;
    margin: 25px;
    background-color: orange;
    left: 15px;
}

.letterEh {
    width: 15px;
    height: 95px;
    background-color: orange;
    top: -120px;
    position: relative;
    left: 40px;
}

.navbutton {
    font-size: 30px;
    position: relative;
    top: 200px;
    margin: 20px;
    color: orangered;
}

a {
    text-decoration: none;
    color: #ff0000;
}

.tableofallcustomers {
    position: absolute;
    left: 50px;
    top: 50px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.Accountnamewithdrawldeposit {
    position: relative;
    color: orangered;
}

.customerwithdepbox {
    position: relative;
    border: 15px orangered solid;
    background-color: lightgreen;
    width: 500px;
    height: 300px;
    top: 150px;
    left: 15%;
    padding: 20px;
}


.customerinfo {
    position: relative;
    width: 250px;
    height: 570px;
    left: 974px;
    padding: 20px;
    border: 18px orangered solid;
    top: 20px;
    background-color: lightgreen;
}

.accountinfo {
    position: relative;
    width: 450px;
    height: 466px;
    left: 100px;
    padding: 20px;
    border: 18px orangered solid;
    top: -623px;
    background-color: lightgreen;
    overflow-y: auto;
    overflow-x: hidden;
}


#searchbar {
    position: relative;
    margin: 20px;
    top: 55px;
    left: 41px;
}

.accountinfoandlinks {
    width: 600px;
    height: 100px;
}

.transactionlinks {
    position: relative;
    left: 300px;
    top: -100px;
}

.customerwrap {
    border: 5px solid orangered;
    width: 710px;
    height: 630px;
    padding: 1px;
    background-color: lightgreen;
    position: relative;
    left: 20%;
    top: 30px;
}

#tablecustomersearch {
    position: relative;
    top: -60px;
    left: -10px;
}

#totalbalance {
    position: relative;
    left: 70px;
    bottom: 22px;
}

#totalbalancewrap {
    background-color: lightgreen;
    border: orangered 15px solid;
    POSITION: relative;
    top: -608px;
    width: 456px;
    left: 100px;
    padding: 20px;
    height: 30px;
}