{% extends "basetemplate.html" %}

{%block title%}
Customer
{%endblock%}

{% block content %}
<div class="customerwithdepbox">
    <h1>Transfere</h1>

    <form method="post">
        {{ form.csrf_token }}

        {{ form.fromaccount() }}

        {% for field, errors in form.errors.items() %}
        {{ ', '.join(errors) }}
        </br>
        {% endfor %}
        {{ form.fromamount() }}
        <label for="fromamount">FROM</label>
        <br>
        {{ form.recievingaccount() }}
        <label for="recievingamount">TO</label>
        <br>
        <input type="submit" value="Spara">
    </form>
</div>









<a href={{url_for('customer', id=customer.Id)}}><button
        style="right: 10px; bottom: 10px; position: absolute; font-size: 25px;">Bakåt</button></a>

{% endblock %}