{% extends "basetemplate.html" %}

{%block title%}
Customer
{%endblock%}

{% block content %}
<h1>{{customer.Id}}</h1>

{%for element in accounts%}
<h1>
    {{element.AccountType}} {{element.Balance}}
</h1>

<a href={{url_for('deposit', id=customer.Id, accountid=element.Id) }}><button
        class="customerchoices">Deposit</button></a>
<a href={{url_for('withdrawl', id=customer.Id, accountid=element.Id)}}><button
        class="customerchoices">Withdrawl</button></a>
<a href={{url_for('transfer', id=customer.Id)}}><button class="customerchoices">Transfer</button></a>

{%endfor%}

{% endblock %}