<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bank</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
  <div id="navbar">

    <div id="startbutton">
      <a href="http://127.0.0.1:5000/">
        <div id="startbuttontext">
          <h1>START</h1>
        </div>
      </a>
    </div>

  </div>
  <input type="text" id="searchbar" onkeyup="searchtable()" placeholder="search for id...">
  <button id="nextpage" class="pager" onkeyup="pageing()">&rarr;</button>
  <button id="prevpage" class="pager" onkeyup="pageing()">&larr;</button>
  <div id="starttable">
    <table id="tableoffallcustomers">
      <tr>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Id</th>
      </tr>
      {%for c in customer%}
      <tr>
        <td> {{c.GivenName}}</td>
        <td>{{c.Surname}}</td>
        <td><a href="{{url_for('customer', id=c.Id)}}">{{c.Id}}</a></td>
      </tr>
      {%endfor%}
    </table>
  </div>
</body>
<script src="static\js\pagetable.js"></script>

</html>